<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onlyone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/WhiteNoActionBarTheme">

        <service
            android:name=".service.SimpleAidlService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.onlyone.service.SimpleAidlService" />
            </intent-filter>

        </service>


        <activity
            android:name=".module.main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.main.MainActivity" />
        <activity android:name=".module.main.demo.FlowLayoutActivity" />
        <activity android:name=".module.main.demo.IndexBarActivity" />
        <activity android:name=".module.main.demo.DrawerLayoutActivity" />
        <activity android:name=".module.touch.TouchEventActivity" />
        <activity android:name=".module.measure.MeasureActivity" />

        <activity android:name=".lifecycle.LifeActivity1" />
        <activity android:name=".lifecycle.LifeActivity2" />
        <activity android:name=".lifecycle.LifeActivity3" />
        <activity android:name=".lifecycle.LifeActivity4" />


        <activity android:name=".module.launch.ActivityA" />

        <activity android:name=".module.launch.ActivityB">
            <intent-filter>
                <action android:name="activity2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="myCategory" />
            </intent-filter>
        </activity>
        <activity android:name=".module.launch.ActivityC">
            <intent-filter>
                <action android:name="activity2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="myCategory" />
            </intent-filter>
        </activity>

        <activity android:name=".module.launch.ActivityD">
            <intent-filter>
                <action android:name="activity2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="myCategory" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>